
body{
    margin: 0;
    padding: 0;
    background-color: #161616;
}
header{
    margin: 16px 0px 16px;
}
main{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
    flex-direction: column;
}
html{
    height: auto;
}
a{
    display: flex;
}

ul{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    border-radius: 27px;
    height: 50px;
    border: #8e8e8e 1px solid;
}
.nav-link{
   display: inline-block;
    margin: 0px 30px 0px 30px;
     list-style: none;
    color: #8e8e8e;
    text-decoration: none;
}
.nav-link:hover{
    color: #fff;
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

}

#profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
section{
    margin: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profile-pic img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 35px;
}
img{
    height: 200px;
    width: 200px;
    
    border: #ffe836 4px solid;
}
.available-for-work{
      height: 35px;
    width: 230px;
    border: #373737 solid 0.1px;
    border-radius: 20px;
    display: flex;
    margin: 0px 28px;
    align-items: center;
    padding-left: 20px;
}

.pulser {
  width: 30px;
  height: 30px;
  background: rgb(61, 252, 32);
  border-radius: 50%;
  position: relative;
}

.pulser::after {
  animation: pulse 1000ms cubic-bezier(0.9, 0.3, 0.8, 0.9) infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.4;
  }
}

.pulser::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(74, 240, 88);
  border-radius: 50%;
  z-index: -1;
}
#animations{
    height: 10px;
    width: 10px;
    margin: 0px 10px;;
}
#animation{
    height: auto;
    width: 50px;
}
#A-f-w{
    color: #fff;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    
}
#fresher{
    color: #8e8e8e;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}
#intro{
    color: #fff;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    width: 65%;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    word-spacing: 5px;
}
#name{
    color: rgb(4, 214, 1);
    font-size: 50px;
    font-weight: 900;
    word-spacing: 0px;

}
#description {
    color: #8e8e8e;
    font-family: 'Times New Roman', Times, serif;
    width: 65%;
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    word-spacing: 5px;
}